@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}
input {
  height: 45px;
  padding: 1rem 2rem;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 15px;
}

input:focus {
  outline: none;
  border-color: #FF5722;
}
button {
  width: 200px;
  outline: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  line-height: 60px;
  background-color: #00ADB5;
  color: #EEEEEE;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00ADB5;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  background-color: #00ADB5;
}
a {
  background-color: #00ADB5;
  color: #EEEEEE;
  font-size: 24px;
  text-decoration: none;
  transition: color .3s;
}
a:hover {
  color: #303841;
}



.login__container,
.signup__container,
.verify,
.dashboard {
  width: 100%;
  min-height: 100vh;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard {
  background-color: #EEEEEE;
}

.card {
  background-color: #ffff;
  padding: 14rem 7rem;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #677380;
}

.login__form,
.verify__form,
.signup__form {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.signup__footer,
.login__footer
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginBtn,
.signupBtn,
.codeBtn {
  background-color: #FF5722;
  color: #fff;
  margin: 15px;
  border-radius: 8px;
}
.signOutBtn {
  background-color: #FF5722;
  color: #fff;
  border-radius: 8px;
}
.link {
  cursor: pointer;
  color: #FF5722;
}
.code {
  width: 50%;
  text-align: center;
}
.verify__form {
  align-items: center;
}

@media screen and (max-width: 800px) {
  .login__container,
  .signup__container,
  .verify {
    padding: 30px;
  }
}

